body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
  flex: 1;
}
/*
.contenedor{
  height: 250px;
}
*/

.color-text {
  padding: 10px;
  border-radius: 5px;
  color: rgb(43, 46, 226);
  background-color: rgba(255, 255, 255, 0.554);
}

/* CUSTOMIZE THE CAROUSEL
--- ver: view-source:https://getbootstrap.com/docs/5.1/examples/carousel/carousel.css
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
/*                        END CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.box{
  background: rgba(0, 19, 128, 0.5);
}

.jumbotron{
  /*background-color: rgb(0, 89, 233);*/
  background-color: rgb(0, 113, 128);
  color: black;
  margin-top: 49.50px; /**/
}

.imagen{
  height: 600px;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  width: 100%;
}

.jumbotron h1, h2{
  /*color: rgb(0, 75, 85);
  color: rgb(235, 235, 235);*/
  color: white;
}

.footer{
  padding: 10px 10px 0px 10px;
  background-color: rgb(0, 113, 128);
  margin-bottom: 0px;
  margin-top: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer a{
  color: white;
  text-decoration: none;
}

.card-hotel{
  flex: 1 250px;
  margin: 5px;
  /*
  padding: 10px 0px 0px 0px;
  border-style: solid;
  border-color: rgb(92, 96, 99);
  border-width: 2pt;*/
  border-radius: 0%;
  background-color: rgb(212, 255, 209); 
}

.btn-reserva{
  width: 100%;
  background-color: rgb(0, 113, 128);
  color: white;
  border-radius: 0;
}

.card-sup{
  flex: 1 225px;
  padding: 5px;
}

.addr p{
  color: white;
}

th{
  white-space:nowrap;
}